body{
    background-color: black;
    color: blanchedalmond;
}
.chatBox{
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow-y: scroll;
}
.chatApp{
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-top: 30px;
}
.users{
    display: flex;
    flex-direction: column;
    
    position: relative;
    font-size: 10px;
}
.rowMessage{
    width: 100%;
    word-wrap: break-word;
}
.content{
    display: flex;
    height: 40vh;
}
.form{
    position: absolute;
    bottom: 0px;
}

#messageForm{
    display: flex;
    justify-content: space-evenly;
}